@media (max-width: 1441px) {
    .benner_main_title {
        font-size: calc(10px + (30 - 10) * ((100vw - 280px) / (1440 - 280)));
    }

    .benner_content .benner_sub span {
        font-size: calc(20px + (70 - 20) * ((100vw - 280px) / (1440 - 280)));
    }

    .benner_title {
        font-size: calc(12px + (30 - 12) * ((100vw - 280px) / (1440 - 280)));
        margin-bottom: 3px;
    }

    .offer_desc h2 {
        font-size: calc(16px + (70 - 16) * ((100vw - 280px) / (1440 - 280)));
    }

    .offer_desc h6 {
        font-size: calc(10px + (24 - 10) * ((100vw - 280px) / (1440 - 280)));
    }

    .benner_sub {
        /* height: 90px; */
    }

    .benner_content .benner_sub span {
        line-height: 2;
    }
}

@media (min-width: 1441px) {
    .main_navbar .container {
        padding: 0 30px;
    }

    .benner_content .benner_sub span {
        line-height: 1.4;
    }

    .main_benner {
        position: relative;
        min-height: 90vh;
    }
}

@media (max-width: 1341px) {
    .benner_content .benner_sub span {
        line-height: 1.9;
    }
}

@media (max-width: 1341px) {

    .main_benner .benner_content .theme_btn,
    .theme_btn,
    .theme_btn_2 {
        padding: 14px 27px;
    }

    .theme_btn_2 {
        vertical-align: bottom;
    }

    .theme_btn svg,
    .service_card_btn svg,
    .about_det_submit svg,
    .theme_btn_2 svg {
        height: 15px;
        width: 15px;
        /* vertical-align: middle; */
    }
}

@media (max-width: 1201px) {
    #main_header .mainmenu>li {
        margin: 0 2px;
        padding: 10px 10px;
    }

    .main_title h2 {
        font-size: calc(20px + (40 - 20) * ((100vw - 280px) / (1200 - 280)));
    }

    .benner_content .benner_sub span {
        line-height: 1.7;
    }
}

@media (max-width: 1025px) {
    .benner_content .benner_sub span {
        line-height: 1.8;
    }

    .benner_sub {
        height: 80px;
    }

    select#phoneno {
        width: 15%;
    }

    .theme_btn {
        margin-top: 15px;
    }

    .contact_det_submit span,
    .about_det_submit span,
    .profile_det_submit span {
        font-size: 16px;
    }

    .service_sub_desc span,
    .contact_inner_pages span,
    .service_inner_pages span {
        font-size: 16px;
    }

    .benner_main_title {
        margin-bottom: 20px;
    }

    #main_header .mainmenu>li {
        margin: 0 4px;
        padding: 10px 8px;
    }

    .header_contact_icon a span:last-child {
        font-size: calc(12px + (22 - 12) * ((100vw - 280px) / (1024 - 280)));
    }

    .work_description h2 {
        font-size: calc(15px + (22 - 15) * ((100vw - 280px) / (1024 - 280)));
    }

    .card_detail h2 {
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (1024 - 280)));
    }

    .offer_desc h6 {
        margin-bottom: 15px;
    }

    .customer_service,
    .offer_benner_wrapper {
        padding: 50px;
    }

    .service_card_desc h2,
    .contact_now span {
        font-size: calc(10px + (20 - 10) * ((100vw - 280px) / (1024 - 280)));
    }

    .contact_now {
        margin-top: 25px;
    }

    .help_detail h3 {
        font-size: calc(16px + (24 - 16) * ((100vw - 280px) / (1024 - 280)));
    }

    .theme_btn,
    .theme_btn_2 {
        margin-top: 25px;
        padding: 14px 30px;
    }

    .about_block,
    .working-process,
    .about_srevice,
    .assuranve_service_wrapper,
    .testimonial,
    .about_blog_detail,
    .image_filter,
    .customer_service,
    .help_section_wrapper,
    .offer_benner,
    .customer-services,
    .contact_form_wrapper,
    .team_working-process,
    .contact_section {
        margin-bottom: 50px;
    }

    .image_filter,
    .contact_form_wrapper,
    .customer-services,
    .about_blog {
        padding-top: 50px;
    }

    .help_footer_sec,
    .working-process {
        padding-top: 50px;
    }

    .contact_section {
        padding: 80px 0;
    }

    .footer_section,
    .about_block,
    .working-process {
        padding-bottom: 50px;
    }
}

@media (max-width: 880px) and (min-width: 768px) {
    .about_btn {
        margin-inline-start: 5px;
    }

    .help_detail h3 {
        font-size: 15px;
    }

    .theme_btn span {
        font-size: 15px;
    }

    .theme_btn_2 span {
        font-size: 15px;
    }

    .gallary_text h2 {
        font-size: 12px;
    }

    .gallary_text h4 {
        font-size: 15px;
    }

    .benner_sub {
        margin-top: 10px;
        height: 72px;
    }
}

@media (max-width: 768px) {
    .main_benner .benner_content .theme_btn {
        margin-top: 15px;
    }
}

@media (max-width: 768px) {
    .customer_service_sec {
        order: 2;
    }

    .customer_service_sec {
        margin-top: 20px;
    }

    .benner_sub {
        margin: 15px;
        height: 50px;
    }

    .benner_content .benner_sub span {
        line-height: 1.8;
    }

    .benner_main_title {
        margin-bottom: 0;
    }

    select#phoneno {
        width: 50%;
    }

    .about_btn {
        /* margin-inline-start: 0; */
    }

    @keyframes move {
        0% {
            top: -0px;
        }

        15% {
            top: -50px;
        }

        30% {
            top: -100px;
        }

        45% {
            top: -150px;
        }

        60% {
            top: -200px;
        }

        75% {
            top: -250px;
        }
    }

    .benner_main_title {
        margin-bottom: 10px;
    }

    .main_benner .benner_content .theme_btn {
        margin-top: 35px;
        padding: 11px 22px;
    }

    .main_benner .benner_content .theme_btn {
        margin-top: 20px;
    }

    .benner_sub {
        margin-bottom: 5px;
    }

    .benner_content .benner_sub span {
        font-size: 30px;
    }

    .about_blog_detail h2,
    .about_service_main_title h2 {
        font-size: calc(18px + (25 - 18) * ((100vw - 280px) / (768 - 280)));
    }

    .service_detail span {
        font-size: calc(12px + (18 - 12) * ((100vw - 280px) / (768 - 280)));
    }

    .help_section_wrapper .theme_btn {
        padding: 14px 15px;
    }

    .contact_now img {
        height: 30px;
        width: 31px;
        margin-inline-end: 5px;
    }

    .footer_address span {
        font-size: 12px;
    }

    .service-images {
        text-align: center;
    }
}

@media (max-width: 651px) {

    .about_block_content,
    .service-images {
        margin-top: 30px;
    }

    .about_btn {
        margin-inline-start: 10px;
    }

    .filter_menu_item ul li {
        padding: 16px 19px;
    }

    .help_box {
        margin-bottom: 30px;
    }

    .footer-bottom,
    .top-to-bottom {
        text-align: center;
    }

    .offer_benner .theme_btn_2 {
        margin-top: 10px;
    }

    .circle .icon-block img,
    .icon-block img {
        height: 50px;
        width: 50px;
        width: auto;
    }
}

@media (max-width: 991px) {
    .top-move-btn {
        display: block !important;
    }

    .footer-bottom-inner {
        text-align: center;
    }

    .footer-top-bottom {
        display: none;
    }

    .card_detail h6 {
        margin-bottom: 10px;
    }

    .work_card_detail {
        margin-bottom: 30px;
    }

    .contct_form_wrap {
        padding: 50px;cursor: none;
    }

    .about_block_content {
        margin-top: 30px;
    }
}

@media (max-width: 990px) {
    .about_block_content.sub_title {
        margin-top: 30px;
    }

    .main_benner .benner_content .theme_btn {
        margin-top: 10px;
    }
}

@media (max-width: 650px) {
    select#phoneno {
        width: 16%;
    }
}

@media (max-width: 575px) {
    .benner_main_title {
        padding-bottom: 5px;
    }
        .contact_form_title h2{
            font-size: 30px;
        }
    .image_item {
        text-align: center
    }

    .assurance_service_box {
        margin-bottom: 30px;
    }

    .service_detail {
        margin-bottom: 10px;
    }

    .footer_address,
    .footer-all-title {
        margin-bottom: 20px;
    }

    .footer_address span {
        font-size: 16px;
    }

    .service_card_desc h2 {
        font-size: calc(18px + (25 - 18) * ((100vw - 280px) / (575 - 280)));
    }
}

@media (max-width: 480px) {
    .contact_title h2,
        .service_title h2{
            font-size: 18px;cursor: none;
        }
    @keyframes move {
        0% {
            top: -0px;
        }

        15% {
            top: -50px;
        }

        30% {
            top: -100px;
        }

        45% {
            top: -150px;
        }

        60% {
            top: -200px;
        }

        75% {
            top: -250px;
        }

        100% {
            top: 0px;
        }
    }

    .theme_btn svg,
    .service_card_btn svg,
    .about_det_submit svg,
    .theme_btn_2 svg {
        height: 11px;
        width: 15px;
    }

    .about_blog_detail h2,
    .about_quote h2,
    .about_service_main_title h2,
    .profile_title h2,
    .about_blog_detail p,
    .cutomer_service_wrapper {
        margin-bottom: 20px;
    }

    select#phoneno {
        width: 55%;
    }

    .about_block,
    .working-process,
    .about_srevice,
    .assuranve_service_wrapper,
    .testimonial,
    .about_blog_detail,
    .image_filter,
    .customer_service,
    .help_section_wrapper,
    .offer_benner,
    .customer-services,
    .contact_form_wrapper,
    .team_working-process {
        margin-bottom: 30px;
    }

    .contact_section {
        margin-bottom: 0;
    }

    .image_filter,
    .contact_form_wrapper,
    .customer-services,
    .about_blog {
        padding-top: 30px;
    }

    .help_footer_sec,
    .about_block,
    .working-process {
        padding-top: 30px;
    }

    .customer_service {
        padding: 30px 0;
    }

    .footer_section,
    .about_block,
    .working-process {
        padding-bottom: 30px;
    }

    .contact_section,
    .customer_service {
        padding: 50px 0;
    }

    .theme_btn,
    .theme_btn_2 {
        margin-top: 16px;
        padding: 8px 16px;
    }

    .help_section_wrapper .theme_btn {
        padding: 11px 22px;
    }

    .theme_btn span,
    .theme_btn_2 span {
        font-size: 14px;
    }

    .theme_btn_2 {
        /* padding: 14px 24px; */
    }

    .filter_menu_item ul li {
        font-size: 12px;
    }

    .contct_form_wrap {
        padding: 30px;cursor: none;
    }
}

@media (max-width: 360px) {
    .benner_content .benner_sub span {
        font-size: 25px;
    }

    .theme_btn,
    .theme_btn_2 {
        margin-top: 10px;
        padding: 10px 20px;
    }

    .theme_btn span,
    .theme_btn_2 span {
        font-size: 12px;
    }

    .service-images .main-container {
        height: 240px;
    }
}

@media (max-width: 769px) {
    .benner_content .benner_sub span {
        line-height: 1.60;
    }
}

@media (max-width: 376px) {
    select#phoneno {
        width: 46%;
    }
        .contact_form_title h2 {
            font-size: 20px;
        }
    .theme_btn svg,
    .service_card_btn svg,
    .about_det_submit svg,
    .theme_btn_2 svg {
        height: 12px;
        width: 12px;
    }

    .about_blog_detail h2,
    .about_quote h2,
    .about_service_main_title h2,
    .profile_title h2,
    .about_blog_detail p,
    .cutomer_service_wrapper {
        margin-bottom: 15px;
    }

    .service_img img {
        height: 25px;
        width: 25px;
    }

    .filter_menu_item ul li {
        margin: 5px;
    }

    .cutomer_service_wrapper {
        margin-bottom: 20px;
    }

    .footer_address,
    .footer-all-title {
        margin-bottom: 20px;
    }
}

@media (max-width: 360px) {
    .benner_main_title {
        margin-bottom: 10px;
    }

    .testimonial_detail h2,
    .contact_now span {
        font-size: 16px;
    }

    .testimonial_desc {
        padding: 0;
    }

    .main_benner .theme_btn {
        margin-top: 10px;
        padding: 6px 17px;
    }

    .filter_menu_item ul li {
        margin: 10px;
    }

    .benner_sub {
        margin-top: 5px;
        height: 40px;
    }
}

@media (max-width: 769px) and (min-width:650px) {
    .gallary_text {
        padding: 16px 0;
    }

    .service-images .main-container {
        height: 480px;
    }
}

@media (max-width: 360px) {
    .about_btn {
        margin-inline-start: 10px;
    }
        .gallary_text{
            padding: 27px 0;
        }
                .gallary_text h4{
                    font-size: 20px;
                }
    .main_benner {
        min-height: 50vh;
    }
}